n8n/ad-script-workflow.json
{
  "name": "Ad Script Refactor Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad-script",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "ad-script-webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.reference_script }}",
        "options": {
          "systemMessage": "You are an expert advertising copywriter and script analyst. Your task is to:\n\n1. Analyze the provided reference advertising script\n2. Generate an improved version based on the outcome description\n3. Provide detailed analysis of your changes\n\nAlways respond in valid JSON format with the following structure:\n{\n  \"new_script\": \"The improved advertising script\",\n  \"analysis\": \"Detailed analysis of changes made and why\"\n}\n\nOutcome requested: {{ $json.outcome_description }}\n\nProvide your response as valid JSON only, no additional text."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [500, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 4096
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 500],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst webhookData = $('Webhook Trigger').first().json;\n\nlet aiResponse;\ntry {\n  // Try to parse the AI response as JSON\n  const responseText = input.output || input.text || JSON.stringify(input);\n  \n  // Extract JSON from the response (handle markdown code blocks)\n  let jsonStr = responseText;\n  const jsonMatch = responseText.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    jsonStr = jsonMatch[1].trim();\n  }\n  \n  aiResponse = JSON.parse(jsonStr);\n} catch (e) {\n  // If parsing fails, use the raw output\n  aiResponse = {\n    new_script: input.output || input.text || 'Failed to generate script',\n    analysis: 'AI response could not be parsed as structured JSON'\n  };\n}\n\nreturn {\n  task_id: webhookData.task_id,\n  new_script: aiResponse.new_script,\n  analysis: aiResponse.analysis\n};"
      },
      "id": "parse-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook Trigger').first().json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-Signature",
              "value": "={{ $getWorkflowStaticData('global').signature || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "callback-request",
      "name": "Send Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst webhookData = $('Webhook Trigger').first().json;\nconst secret = $env.N8N_SHARED_SECRET || 'local-dev-secret-key';\n\nconst payload = {\n  task_id: webhookData.task_id,\n  new_script: $json.new_script,\n  analysis: $json.analysis\n};\n\nconst signature = crypto\n  .createHmac('sha256', secret)\n  .update(JSON.stringify(payload))\n  .digest('hex');\n\n// Store signature for use in HTTP request\n$getWorkflowStaticData('global').signature = signature;\n\nreturn payload;"
      },
      "id": "generate-signature",
      "name": "Generate HMAC Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error || 'Unknown error occurred' }}"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [750, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Generate HMAC Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HMAC Signature": {
      "main": [
        [
          {
            "node": "Send Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Callback": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad-script-refactor-workflow"
  },
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 0
}
